.addContact-form {
  padding: 1em;
  width: 400px;
  /* background-color: red; */
}

.input-wrapper {
  margin-top: 0.5rem;
  display: grid;
  /* grid-template-columns: .7fr 1fr; */
}

.form-footer {
  margin-top: 1rem;
  display: flex;

  gap: 1rem;

  justify-content: end;
}

.submit-form {
  background-color: green;
  color: white;
  border: 1px solid green;
}
.cancel-form {
  background-color: transparent;
  /* color: white; */
  border: 1px solid black;
}

.error-field {
  border: 1px solid red;
}

.error-field:focus-visible {
  outline: 1px solid red;
}
.error-field {
  border: 1px solid red;
}

.error-field-message {
  color: red;
  font-size: 0.9rem;
}
